<h1 class="page-header">Metrics</h1>

<form class="form-inline" action="/metrics/q" id="metricQueryForm" method="post">
    <div class="form-group">
        <label for="inputTag">Tag</label>
        <input type="text" class="form-control" id="inputTag" name="tag" placeholder="Tag">
    </div>
    <button type="button" onclick="loadFormResult('metricQueryForm')" class="btn btn-primary">Search</button>
</form>

<h2 class="sub-header">Metric Lists</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Tag</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        {{#each metrics}}
            <tr>
                <td>{{@index}}</td>
                <td>{{this._id}}</td>
                <td><a href="javascript:load('/metrics/{{this}}');">List</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>