<H4>Monitoring</H4>
<ul class="nav nav-sidebar">
    <li><a href="javascript:load('/metrics');">Metrics</a></li>
    <li><a href="javascript:load('/monitors');">Monitors</a></li>
</ul>
<H4>Management</H4>
<ul class="nav nav-sidebar">
    <li><a href="javascript:load('/admins');">Admin Users</a></li>
</ul>