<H4>CMS</H4>
<ul class="nav nav-sidebar">
    <li><a href="javascript:load('/admins');">Admin Users</a></li>
</ul>

<H4>Monitors</H4>
<ul class="nav nav-sidebar">
    <li><a href="javascript:load('/metrics');">Metrics</a></li>
</ul>