<h1 class="page-header">Admin User</h1>

<h2 class="sub-header">User Lists</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>User Name</th>
            <th>Create Date</th>
            <th>Enabled</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        {{#each users}}
            <tr>
                <td>{{@index}}</td>
                <td>{{this.userName}}</td>
                <td>{{this.createDate}}</td>
                <td>{{this.enabled}}</td>
                <td>Delete | Edit</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>